.error{
    outline: 1px solid red;
}  

.container-lg{
    background-color:  #902923  ;
}

.navbar{
    background-color:  #E88873 ;
}

.h2{
    background-color: #C3553D   
}

.ab{
    background-color: #E3E3B2 
}

.table{
    background-color: #EAEBED
}

